body{
	height: 100%;
  font-family: "Signika","Segoe UI", Segoe, "Open Sans", "Trebuchet MS", Verdana, sans-serif;
	color: whitesmoke;
	font-size: 14px;
  line-height: 1.42857143;
	background-color: #101010;
	position: relative;
}

pre {
	padding: 0;
}

.page-container {
  margin: 20px;
}

/* horizontal panel*/
.panel-container {
  display:flex;
  flex-direction: row;
  overflow: hidden;
}

.panel-left {
  flex: 0 0 auto;
  width: 50%;
  min-height: 200px;
  min-width: 150px;
  white-space: nowrap;
  color: white;
}

.splitter {
  flex: 0 0 auto;
  min-height: 200px;
  cursor: col-resize;
  background-color: #101010;
}

.panel-right {
  flex: 1 1 auto;
  width: 100%;
  min-height: 100vh;
  min-width: 200px;
  background: #eee;
}

.codetoolbar{
	background-color: #1E1E1E;
	border-color: #1E1E1E;
}

#padtopbar {
	background-color: #101010;
	color: #C1C1C1;
}

#name_editinput{
	color: #C1C1C1 !important;
}

.btn-default{
	background: transparent!important;
	border: 1px solid #d0d0d0 !important;
	color: #d0d0d0 !important;
}

.btn-default:hover{
	background: transparent!important;
	border: 1px solid #eee !important;
	color: #eee !important;
}

.panel-right, .panel-left{
background-color: #1E1E1E;
}

.firepad-container{
	background-color: #101010;
}

.my-modal{
	background-color: #101010;
	color: #555;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	border: 1px solid rgba(0,0,0,.2);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.popover.top>.arrow:after {
    color: #101010;
}


.packs-options .pack-item :hover{
  color: gray;
}

.modal-video{
	position: absolute;
	z-index:1001;
	width: 200px;
	top: 100px;
	right: 20px;
}

.pack-item:hover{

	background-color: #1E1E1E !important;
}


.resizable {
	width: 50%;
	height:100%;
	padding: 0;
	float:left;
	color:#000;
	position:relative;
}

.resizable1 {
	float:left;
}

.resizable2 {
	float:right;
}

.resizable .inner {
overflow:hidden;
/* overflow-y:auto; */
position:absolute;
height:100%;
top:0;
left:0;
-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ui-resizable-e {
	cursor: e-resize;
	/* display:block!important; */
	width: 11px;
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: #101010;
	border-color:#101010;
}

.ui-resizable-e:hover {
	background-color:#1E1E1E !important;
}


.my-popover{
	position: absolute;
    z-index: 1060;
    display: none;
    padding: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

div.scroll-page {
	background-color: lightblue;
  height: 40px;
  width: 200px;
  overflow-y: scroll;
}

