<!DOCTYPE html>
<html>

<head>
    <title>Uet - Support Teaching & Learning</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/uet_logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
    <script src="{{ url_for('static', filename='js/default-code.js') }}"></script>
    <script src="{{ url_for('static', filename='js/peer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.12.4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/page.js') }}"></script>
    <script>
        $(document).ready(() => {
            if (localStorage.getItem("user_name") === null) {
                $(".modal-backdrop").show();
                $(".bootbox").show();
                $(".bootbox-input-text").focus();
            } else {
                $(".identicon-name").html(localStorage.getItem("user_name"))
            }
        })
    </script>

</head>

<body>
    <div class="panel-container">
        <div class="panel-left resizable resizable1" id="panel-left">
            <div class="Pane vertical Pane1  inner"
                style="flex: 0 0 auto; position: relative; outline: none; width: 100%;">
                <div class="col-xs-12 pull-left nopadding" id="resizable"
                    style="min-width:100px; height:100vh;background-color: #1E1E1E;">
                    <div id="padtopbar">
                        <div id="logo_web" style="margin-left:5%">
                            <img src="{{ url_for('static', filename='img/logo_35.png') }}" alt="">
                            <span>Uet - Support Teaching & Learning</span>
                        </div>
                        <!-- <input type="text" id="name_editinput" value="2019-03-28 - Interview"> -->
                    </div>
                    <div class="has-topbar" style="width:100%;">
                        <div id="firepad-container" class="firepad-container main-monaco-editor showUnused"
                            data-keybinding-context="1" data-mode-id="cpp">
                            <div class="firepad">
                                <div id="container" style="width:100%;height: 100vh;" class="editor-container">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="codetoolbar pull-left ">
                        <button aria-label="Run Program button" id="button_run"
                            class="btn btn-large pull-left btn-success" title="Ctrl+Enter"
                            style="margin-right: 5px; margin-left: 10px;">
                            <span>
                                <i class="glyphicon glyphicon-play"></i>Run
                            </span>
                        </button>
                        <div style="position:relative;">
                            <button aria-label="Settings" id="button_autocomplete"
                                class="btn btn-default btn-large pull-right button">
                                &nbsp;<span class="glyphicon glyphicon-cog"></span>&nbsp;
                            </button>
                            <!-- Modal setting -->
                            <div>
                                <div data-reactroot="" id="keymap" role="tooltip"
                                    class="fade in my-popover top my-modal"
                                    style="display:none; top: -220px; right: -15px !important;">
                                    <!-- <div class="arrow" style="left: 50%;"></div> -->
                                    <div class="popover-content" style="color:#fff;">
                                        <div class="form-group"><span id="keymode_label" class="">Tab
                                                Spaces:</span><select id="tabsize" name="tabsize"
                                                class="span2 form-control" style="background-color:#101010;">
                                                <option value="2">2 Tab Spaces</option>
                                                <option value="4">4 Tab Spaces</option>
                                                <option value="8">8 Tab Spaces</option>
                                            </select></div>
                                        <div class="form-group"><span id="keymode_label"
                                                class="">Autocomplete</span><button aria-label="Toggle Autocomplete"
                                                id="button_autocomplete" class="btn btn-default btn-large active">
                                                <!-- react-text: 26 -->&nbsp;
                                                <!-- /react-text --><span class="glyphicon glyphicon-magnet"></span>
                                                <!-- react-text: 28 -->&nbsp;
                                                <!-- /react-text --></button></div>
                                        <div class="form-group"><span id="keymode_label" class="">Font
                                                Size</span><button aria-label="Zoom Out" id="button_zoomout"
                                                class="btn btn-default btn-large" style="margin-right: 5px;">
                                                <!-- react-text: 32 -->&nbsp;
                                                <!-- /react-text --><span class="glyphicon glyphicon-zoom-out"></span>
                                                <!-- react-text: 34 -->&nbsp;
                                                <!-- /react-text --></button><button aria-label="Zoom In"
                                                id="button_zoomin" class="btn btn-default btn-large">
                                                <!-- react-text: 36 -->&nbsp;
                                                <!-- /react-text --><span class="glyphicon glyphicon-zoom-in"></span>
                                                <!-- react-text: 38 -->&nbsp;
                                                <!-- /react-text --></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="select-up codemode-container pull-right" style="position:relative;">
                            <div style="display: inline;">
                                <div>
                                    <button type="button" class="dropup btn btn-default selectedLanguage button"
                                        style="width: 100%;">
                                        Javascript<span class="caret"></span>
                                    </button>
                                </div>
                                <div>
                                    <div data-reactroot="" role="tooltip"
                                        class="fade in languageDropdown popover top my-modal"
                                        style="display: none; top: -400px; left: -25px; position: absolute;">
                                        <!-- <div class="arrow" style="left: 120px;"></div> -->
                                        <div class="popover-content">
                                            <div class="FullScreenMessage newPad"
                                                style="max-width:230px; height: 100%;">
                                                <div class="form-group form-group-lg">
                                                    <div class="col-md-12 nopadding packs-options border"
                                                        style="border:0;">
                                                        <center>
                                                            <!-- <div class="pack-icon pack-core" style="color: #eee;"></div> -->
                                                            <h2 style="color: #eee;">Core</h2>
                                                        </center>
                                                        <div class="col-xs-12 nopadding form-group"
                                                            style="color: #eee;">
                                                            <div class="pack-item"><b>C</b></div>
                                                            <div class="pack-item"><b>Cpp</b></div>
                                                            <div class="pack-item"><b>Javascript</b></div>
                                                            <div class="pack-item"><b>Java</b></div>
                                                            <div class="pack-item"><b>PHP</b></div>
                                                            <div class="pack-item"><b>Python</b></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-right resizable resizable2" id="panel-right">
            <div class="Pane vertical Pane2  inner" style="flex: 1 1 0%; position: relative; outline: none;">
                <div id="outputFullMode" class=" col-xs-12 nopadding ">
                    <div id="padtopbar" style="position:relative;">
                        <div class="usersonline pull-right">
                            <div class="identicon-container clickable">
                                <div class="identicon monospace "
                                    style="width: 10px; height: 10px; font-size: 9px; padding: 3px; margin: 4px; background: rgb(116, 40, 204);">
                                </div>
                                <span class="identicon-name"
                                    style="border-bottom: 1px dashed rgb(169, 169, 169); padding-bottom: 1px;">GuesthIM
                                </span>
                            </div>
                        </div>
                        <div style="position:relative;">
                            {% if peer_id is not defined %}
                                <span>
                                    <button id="button_endcall" aria-label="Invite"
                                        class="btn btn-default btn-large invite pull-right show-call"
                                        style="padding: 3px 12px; border: 0!important;display: none">
                                        &nbsp;<span style="color:red"> End Call</span>
                                    </button>
                                </span>
                                <span>
                                    <button id="button_sharepad" aria-label="Invite"
                                        class="btn btn-default btn-large invite pull-right show-call"
                                        style="padding: 3px 12px; border: 0!important;">
                                        &nbsp;<span class="glyphicon glyphicon-earphone"
                                            style="font-weight:bold"></span>&nbsp;<span id="call"> Make Call</span>
                                    </button>
                                </span>
                            {% else %}
                            <span>
                                <button id="button_endcall" aria-label="Invite"
                                    class="btn btn-default btn-large invite pull-right show-call"
                                    style="padding: 3px 12px; border: 0!important">
                                    &nbsp;<span style="color:red"> End Call</span>
                                </button>
                            </span>
                            <span>
                                <button id="button_sharepad" aria-label="Invite"
                                    class="btn btn-default btn-large invite pull-right show-call"
                                    style="padding: 3px 12px; border: 0!important;">
                                    &nbsp;<span class="glyphicon glyphicon-earphone"
                                        style="font-weight:bold"></span>&nbsp;<span id="call">Calling...</span>
                                </button>
                            </span>
                            {% endif %}
                        </div>

                    </div>
                    <div id="result_code" class="scroll-page"
                        style="padding: 10px; height: 100%; background-color: #1E1E1E;">

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block modal %}
    {% endblock%}

    <!-- Modal enter name -->
    <div class="bootbox modal fade bootbox-prompt in" tabindex="-1" role="dialog" aria-hidden="false"
        style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="bootbox-close-button close" data-dismiss="modal"
                        aria-hidden="true">×</button>
                    <h4 class="modal-title">Please enter your name.</h4>
                </div>
                <div class="modal-body">
                    <div class="bootbox-body">
                        <form class="bootbox-form"><input class="bootbox-input bootbox-input-text form-control"
                                autocomplete="off" type="text" id="user_name"></form>
                    </div>
                </div>
                <div class="modal-footer"><button data-bb-handler="cancel" type="button"
                        class="btn btn-default bootbox-close-button">Cancel</button><button data-bb-handler="confirm"
                        type="button" class="btn btn-primary bootbox-close-button">OK</button></div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade in" style="display:none;"></div>

    <script>
        $(document).ready(function () {
            $("#draggable").draggable(
                { containment: "window" }
            );
        });
    </script>

    {% block process_page %}
    {% endblock %}
</body>

</html>