{% extends "base.html" %}
{% block modal %}
<!-- Modal invite -->
<div data-reactroot="" role="tooltip" class="fade in sharepopover my-popover bottom my-modal"
	style="display: none;top: 50px;right: 20px;">
	<div class="arrow" style="left: 69.9306%;"></div>
	<div class="popover-content" style="color:#fff;">
		<div class="form-group">
			<b>Invite via Link</b><br>
			<!-- react-text: 12 -->Copy
			the link and share it
			with the other person(s).
			<!-- /react-text --><br>
			<div class="input-group input-group-sm margintop10"><input type="text" id="input-url" readonly=""
					class="form-control" placeholder="" value="" style="background-color:#101010;"><span
					class="input-group-btn"><button class="btn btn-primary" type="button"
						id="button_copy">Copy</button></span></div>
			<hr><b>Invite via Email</b><br><!-- react-text: 21 -->We will send the link over
			email.
			<!-- /react-text --><br>
			<div class="input-group input-group-sm margintop10"><input type="email" class="form-control"
					placeholder="email@domain.com" value="" style="background-color:#101010;"><span
					class="input-group-btn"><button disabled="" class="btn btn-primary"
						type="button">Send</button></span>
			</div><br>
		</div>
	</div>
</div>

<!-- Modal video -->
<div id="draggable" class="modal-video" style="background-color: #101010; display: none;">
	<div class="header-modal"
		style="height:20px; border-top-left-radius:8px;border-top-right-radius:8px; background-color: #34343A; text-align: right;">
		<img src="{{ url_for('static', filename='img/cancel.png') }}" width="10px" height="10px"
			style="margin-right:10px;" class="close-modal-video">
	</div>
	<div class="body-modal" style="padding:12px; background-color: #101010;margin-bottom: 12px;">
		<div class="view-box" style="position:relative;">
			<video id="localStream" style="width:100%;height:160px;" controls></video>
			<div class="info"
				style="position:absolute;bottom:0;width:100%; color:#fff;text-align: right; background: rgba(0,0,0, 0.5);padding: 8px;">
				You
			</div>
		</div>
	</div>

	<div class="body-modal" style="padding:12px; background-color: #101010;">
		<div class="view-box" style="position:relative;">
			<video id="remoteStream" style="width:100%;height:160px;" controls></video>
			<div class="info"
				style="position:absolute;bottom:0;width:100%; color:#fff;text-align: right; background: rgba(0,0,0, 0.5);padding: 8px;">
				<div style="width:100%; display:inline-flex;">
					<div class="action" style="width:100%;text-align:left;">
					</div>
					<div class="name" style="float:right;">Parner</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock%}

{% block process_page %}
<!-- OR ANY OTHER AMD LOADER HERE INSTEAD OF loader.js -->
<script src="{{ url_for('static', filename='monaco-editor/min/vs/loader.js') }}"></script>
<script>
	var isShowVideo = true;
	var isCalling = false;
	require.config({
		paths: {
			'vs': "{{ url_for('static', filename='monaco-editor/min/vs') }}"
		}
	});

	require(['vs/editor/editor.main'], function () {
		var editor = monaco.editor.create(document.getElementById('container'), {
			value: [
				'function x() {',
				'\tconsole.log("Hello world!");',
				'}'
			].join('\n'),
			fontSize: 13,
			language: 'javascript',
			automaticLayout: true,
			minimap: {
				enabled: false
			},
			theme: 'vs-dark',
			vertical: 'hidden',
			horizontal: 'hidden'
		});

		editor.onKeyDown((e) => {

			setTimeout(function () {
				editCode(editor.getValue())
			}, 300);
		})
		const socket = io('http://localhost:5000');
		const peer = Peer();

		socket.on('JOIN_NOTIFICATION', (msg) => {
			console.log("join msg: ", msg)
			if (msg.peer_id != peer.id) {
				$('#draggable').show("slide");
				$('#call').text("Calling...");
				$("#button_endcall").show();
				isShowVideo = true;
				isCalling = true;
				openStream()
					.then(stream => playStream('localStream', stream));
				socket.emit('EDIT_CODE', {
					room: peer.id,
					peer_id: peer.id,
					code: editor.getValue(),
					lang: $(".selectedLanguage").text()
				});
			}
		})

		socket.on("EDIT_CODE", msg => {
			if (msg.peer_id !== peer.id && msg.code !== editor.getValue()) {
				editor.setValue(msg.code)
			}
			console.log("editcode: ", msg)
		})

		socket.on("CHANGE_LANG", msg => {
			console.log("chang lang: ", msg);
			if (msg.peer_id !== peer.id) {
				monaco.editor.setModelLanguage(editor.getModel(), msg.lang.toLowerCase());
				$(".selectedLanguage").text(msg.lang);
			}
		})

		socket.on("RUN_CODE", msg => {
			console.log("runcode: ", msg)
			$('#button_run').html('Wait')
			$('#button_run').prop("disabled", true);
		})

		socket.on("LEAVE_ZOOM", msg => {
			console.log("leave: ", msg)
			if (msg.peer_id !== peer.id) {
				let result = alert("The partner has ended the call!!!");
				location.reload();
			}
		})

		socket.on("RESULT", msg => {
			console.log(" result: ", msg)
			if (msg.peer_id !== peer.id) {
				$("#result_code").append(`<pre style="color:#FF7F50;background-color: #1E1E1E;border: none;">Partner Run:</pre>`)
			}
			else {
				$("#result_code").append(`<pre style="color:#FF7F50;background-color: #1E1E1E;border: none;">You Run:</pre>`)
			}
			if (msg.status === "OK") {
				$("#result_code").append(`<pre style="color:green;background-color: #1E1E1E;border: none;">${msg.result}</pre>`)
			}
			else {
				$("#result_code").append(`<pre style="color:red;background-color: #1E1E1E;border: none;">${msg.result}</pre>`)
			}
			$('#button_run').html('Run')
			$('#button_run').prop("disabled", false);
		})

		peer.on('open', id => {
			console.log("peer_id: ", id);
			$('#input-url').val("http://localhost:5000/interview/" + id);
			socket.emit('JOIN_ZOOM', {
				room: peer.id,
				peer_id: peer.id
			});
		});

		function editCode(code) {
			socket.emit('EDIT_CODE', {
				room: peer.id,
				peer_id: peer.id,
				code: code,
				lang: $(".selectedLanguage").text()
			});
		}

		function openStream() {
			const config = {
				audio: true,
				video: true
			};
			return navigator.mediaDevices.getUserMedia(config);
		}

		function playStream(idVideoTag, stream) {
			const video = document.getElementById(idVideoTag);
			video.srcObject = stream;
			video.play();
		}

		peer.on('call', call => {
			openStream()
				.then(stream => {
					call.answer(stream);
					playStream('localStream', stream);
					call.on('stream', remoteStream => playStream('remoteStream', remoteStream));
				});
		});

		$('#button_endcall').click(() => {
			let result = confirm("Are you sure you want to end call?")
			if (result) {
				socket.emit('LEAVE_ZOOM', {
					room: peer.id,
					peer_id: peer.id,
				});
				location.reload();
			}
		});

		$('#button_copy').click(() => {
			$('#input-url').select();
			document.execCommand('copy');
			$('#button_copy').html('Copied')
			$(".sharepopover").hide();
		})

		$('#button_run').click(() => {
			$('#button_run').html('Wait')
			$('#button_run').prop("disabled", true);
			console.log(editor.getModel().getModeId());
			socket.emit('RUN_CODE', {
				room: peer.id,
				peer_id: peer.id,
				lang: editor.getModel().getModeId(),
				code: editor.getValue(),
			});
		});

		$('#button_zoomin').click(() => {
			let fontSize = parseInt($('.view-lines').css('font-size'));
			fontSize = fontSize + 1 + "px";
			$(".view-lines").css({ 'font-size': fontSize });
		})

		$('#button_zoomout').click(() => {
			let fontSize = parseInt($('.view-lines').css('font-size'));
			fontSize = fontSize - 1 + "px";
			$(".view-lines").css({ 'font-size': fontSize });
		})

		$("body").on("click", ".pack-item", function () {
			let newLanguage = $(this).find("b").text();
			$(".selectedLanguage").text(newLanguage);
			$('.select-up').click();
			monaco.editor.setModelLanguage(editor.getModel(), newLanguage.toLowerCase())
			switch (newLanguage.toLowerCase()) {
				case 'c':
					editor.setValue(code_c);
					break;
				case 'cpp':
					editor.setValue(code_cpp);
					break;
				case 'java':
					editor.setValue(code_java);
					break;
				case 'php':
					editor.setValue(code_php);
					break;
				case 'python':
					editor.setValue(code_python);
					break;
				case 'javascript':
					editor.setValue(code_javascript);
					break;
				default:
					break;
			}
			// editor.setValue(newLanguage.toLowerCase())
			socket.emit("CHANGE_LANG", {
				room: peer.id,
				peer_id: peer.id,
				lang: $(".selectedLanguage").text(),
			})

			editCode(editor.getValue())
		});
	});
</script>
{% endblock %}